# Default ignored files
/shelf/
/workspace.xml
/Classificação - aprendendo a classificar dados com Machine Learning.iml
/misc.xml
/modules.xml
/projeto inicial-classificacao_ Primeiros passos.ipynb
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/Classificação - aprendendo a classificar dados com Machine Learning.iml
/.idea/workspace.xml
/.venv/
